html
{
    font-family: verdana;
}

main
{
    width: 80%;
    margin: 10px auto 10px auto;
}

p
{
    font-size: x-large;
}

div.ajax_loader
{
    height: 20px;
    background-image: url("/static/img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20%;
}

div.error
{
    margin-top: 10px;
    background-color: #FF5722;
    color: white;
    font-size: larger;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

div.form_field
{
    width: 100px;
    margin: 10px auto 10px auto;
}

.center
{
    text-align: center;
}

.vcenter
{
    margin-top: 20%;
}

input[type=button].neat
{
    border: none;
    padding: 55px;
    font-size: 28px;
    border-radius: 5px;
    cursor: pointer;
}

form.tool input[type=button]
{
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-action-1
{
    background-color: #FF5722;
    color: white;
}

.btn-action-2
{
    background-color: #00BCD4;
    color: white;
}

ul.subtitle-list
{
    padding: 0px;
    margin: 0px;
}

ul.subtitle-list li
{
    list-style: none;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #03A9F4;
    color: white;
    border-radius: 5px;
}

section.subtitle-metadata
{
    float: left;
    font-size: 12px;
}

section.subtitle-metadata ul
{
    margin: 0px;
    padding: 0px;
}

section.subtitle-metadata li
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.subtitle-id
{
}

.subtitle-timestamp
{
}

.subtitle-text p
{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}