{% extends 'layout.html' %}
{% block body %}

<section id="section-toolbar" class="container">
  <div class="row">
    <div class="col-xs-12">
      <a id="btn-tool-apply_filter"
         class="btn btn-md btn-success" href="#" role="button"
         onclick="alert('Not yet implemented');">Apply filter</a>
      <a id="btn-tool-download"
         class="btn btn-md btn-primary" href="subtitles" role="button">Download</a>
      <a id="btn-tool-upload-visible"
         class="btn btn-md btn-primary" href="#" role="button">Upload</a>
      <form><input id="btn-tool-upload" type="file" name="file" class="btn-upload"/></form>
    </div>
  </div>
</section>

<section id="section-workspace" class="container">
  <div class="jumbotron text-center">
    <h1>Upload subtitles</h1>
    <p class="lead">Upload a srt file containing subtitles</p>
    <p><a id="btn-upload-visible" class="btn btn-lg btn-primary" href="#" role="button">Upload srt file</a></p>
    <form><input id="btn-upload" type="file" name="file" class="btn-upload"></form>
  </div>
</section>

<script>
$(document).ready(function()
{
    $("#section-toolbar").hide();
    $(".btn-upload").each(function(index, value)
    {
        $(value).file_uploader({
            url: 'subtitles',
            on_click: function(){
                $("#section-toolbar").hide();
                $("#section-workspace").html("<div class='ajax_loader'></div>");
            },
            on_success: get_preview,
            on_error: function(xhr, status, text){
                render_error("msg-error alert alert-danger", xhr.responseText, "Unexpected error")}
        });
    });
});
</script>

{% endblock %}
