{% extends 'layout.html' %}
{% block body %}

<section id="section-toolbar">
  <form id="form-upload" action="" class="tool">
    <input id="btn-apply_filter" type="button" value="Apply filter"
           onclick="alert('Not yet implemented');" class="btn-action-1"/>
    <input id="btn-download" type="button" value="Download"
           onclick="window.location.href='subtitles'" class="btn-action-2"/>
    <input id="btn-upload" type="file" name="file" class="btn-upload"/>
    <input id="btn-upload-visible" type="button" value="Upload" class="btn-action-2"/>
  </form>
</section>

<section id="section-workspace">
  <form id="form-upload_srt" action="" class="center vcenter">
    <input id="btn-upload_srt" type="file" name="file" class="btn-upload">
    <input id="btn-upload_srt-visible" type="button" value="Upload a srt file" class="neat">
  </form>
</section>

<script>
$(document).ready(function()
{
    $("#section-toolbar").hide();
    $(".btn-upload").each(function(index, value)
    {
        $(value).file_uploader({
            url: 'subtitles',
            on_click: function(){
                $("#section-toolbar").hide();
                $("#section-workspace").html("<div class='ajax_loader'></div>");
            },
            on_success: get_preview,
            on_error: function(xhr, status, text){
                render_error("error", xhr.responseText, "Unexpected error")}
        });
    });
});
</script>

{% endblock %}
