<ul class="subtitle-list">
{% for subtitle in subtitles %}
    <li>
        <section class="subtitle-metadata">
        <ul>
            <li class="subtitle-id">{{ subtitle.identifier }}</li>
            <li class="subtitle-timestamp">{{ subtitle.timestamp_begin }}</li>
            <li class="subtitle-timestamp">{{ subtitle.timestamp_end}}</li>
        </ul>
        </section>
        <section class="subtitle-text">
        {% for line in subtitle.text.splitlines() %}
            <p>{{ line }}</p>
        {% endfor %}
        </section>
    </li>
{% endfor %}
</ul>
